@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: left;
    padding: 10px;
    font-weight: bolder;
}

header {
    border-bottom-style: double;
}

body {
    background-image: url("./images/whitey_@2X.png");
}

footer {
    border-top: 1px solid #e2e3e4;
    bottom: 0;
    padding: 8px 32px;
    position: fixed;
    text-align: right;
    width: 100%;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}
.topScoreLink {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    color: black;
}

#startBtn {
    border-radius: 8px;
    padding: 10px;
    background-color: darkgreen;
    font-size: 20px;
    color: whitesmoke;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#container {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    padding: 20px;
}

.prog {
    border: 1px solid #acb3bb;
    border-radius: 5px;
    display: inline-block;
    height: 30px;
    margin: 0 0 0 8px;
    vertical-align: middle;
    width: 30px;
}
  
.hide {
    display: none;
}